/*
  * "HarlequinCheck.Css" -Version 1.0.0-beta.1~- Css.
  * variables scss file.
  * The MIT License.
  * Copyright hana.
  * https://github.com/hana-mignon.
*/

$bg-color: white;
$bg-color-adjust: 100%;
$base-color: pink;
$bg-transparent-first: 0.3;
$bg-transparent-second: 0.6;
$bg-transform-first: 300deg;
$bg-transform-last: -300deg;
$bg-size: 100px;
$amount: 50%;
